<!--{% extends 'basket/base.html' %}-->
<!--{% load static %}-->
<!--{% block css_additional%}-->
<!--<link rel="stylesheet" href="{% static 'basket/css/about.css'   %}">-->
<!--{% endblock   %}-->
<!--{% block content %}-->


<!--{{home0list2}} <br><br>-->
<!--{{p3dat}} <br><br>-->
<!--kgkjgh-->
<!--<div class="boxb">-->
<!--<div class="col-md-6">-->
<!--        {% for ttt in el4 %}-->
<!--      <div class="box"><div class="boxin">-->
<!--          <div class="box1">  <br>{{ttt.p3time}}   <br> {{ttt.p3teamhome }} {{ttt.thomwl }} <br>-->
<!--                {{ttt.p3status}} <br><br> </div>-->
<!--                {% for tt, k in ttt.items %}-->
<!--               {% if forloop.counter0 > 5 %}  <span style="background:{% if tt in  home0list2 %}#ffdcdc{% elif tt in  home100list2  %}#9af78f-->
<!--               {% elif tt in  home75list2  %}#d7f5d3 {% elif tt in  home50list2  %}#e8f9e6 {% elif tt in  home25list2  %}#dfdfdf{% else  %}none{% endif %}">-->
<!--                    <div class="boxz">{{tt |cut:'p3time' |cut:'p3status' |cut:'p3teamviz' |cut:'p3teamhome' |cut:'tvizwl' |cut:'thomwl' }}</div>-->
<!--                 {{k |cut:'['  |cut:']'   |slice:":76"  }}<br></span>-->
<!--               {% endif %} {% endfor %}</div></div><br><br>-->
<!--   {% endfor %}</div>-->
<!--    <div class="col-md-6">-->
<!--        {% for ttt in el5 %}-->
<!--      <div class="box"><div class="boxin">-->
<!--          <div class="box1"> <br> {{ttt.p3time}}   <br> {{ttt.p3teamviz }} {{ttt.tvizwl }} <br>-->
<!--                {{ttt.p3status}} <br><br> </div>-->
<!--                {% for tt, k in ttt.items %}-->
<!--               {% if forloop.counter0 > 5 %}  <span style="background:{% if tt in  vizit0list2 %}#ffdcdc{% elif tt in  vizit100list2  %}#9af78f-->
<!--               {% elif tt in  vizit75list2  %}#d7f5d3 {% elif tt in  vizit50list2  %}#e8f9e6 {% elif tt in  vizit25list2  %}#dfdfdf{% else  %}none{% endif %}">-->
<!--                    <div class="boxz">{{tt |cut:'p3time' |cut:'p3status' |cut:'p3teamviz' |cut:'p3teamhome' |cut:'tvizwl' |cut:'thomwl' }}</div>-->
<!--                 {{k |cut:'['  |cut:']'  |slice:":76" }}<br></span>-->
<!--               {% endif %} {% endfor %}</div></div><br><br>-->
<!--   {% endfor %}</div>-->
<!--</div>-->




<!--{% endblock %}-->